main.journal {
  & > .sectionWrapper {
    min-height: 100vh;
    @include setflex(column, nowrap, flex-start, center, center);
  }
  &.list {
    & > .sectionWrapper {
      &::before {
        @include pseudo;
        position: relative;
        width: 100%;
        pointer-events: none;
        height: $mobileHeaderHeight + 20px;
        @include respond-to(m_tablet) {
          height: $mobileHeaderHeight;
        }
        @include respond-to(mobile) {
          height: $mobileHeaderHeight - 20px;
        }
      }
    }
    $initdelay: 0.1s;
    $_transition: 1s;
    $_transition2: 1.5s;
    $eachdelay: 0.2s;
    & > .sectionWrapper section {
      &.listTitleMobile {
        @include transition(opacity 0.5s);
        opacity: 0;
      }
      &.journallist {
        & .__journalcontainer {
          @include transition(opacity 0.5s);
          opacity: 0;
        }
        & .__navcontainer {
          @include transition(opacity 0.5s);
          opacity: 0;
        }
      }
      body.loaded & {
        &.listTitleMobile {
          @include transition(opacity $_transition $initdelay);
          opacity: 1;
        }
        &.journallist {
          & .__navcontainer,
          & .__journalcontainer {
            @include transition(
              opacity $_transition #{$initdelay + ($eachdelay)}
            );
            opacity: 1;
            @include respond-to(m_tablet) {
              @include transition(
                opacity $_transition2 #{$initdelay + ($eachdelay * 1.5)}
              );
            }
          }
        }
      }
    }
  }
  & > .sectionWrapper section {
    width: 100%;
    &.listTitleMobile {
      display: none;
      @include respond-to(m_tablet) {
        display: block;
        text-align: center;
        & > .wrapper {
          padding: 40px 0px 30px;
          & > h1 {
            font-size: $font-size-title-m;
            letter-spacing: $letterspacing-title-m;
            line-height: $lineheight-title-m;
            word-break: break-word;
            font-family: 'Amarillo';
            margin: 0px;
          }
        }
      }
    }
    &.journallist {
      padding-top: $global-padding;
      padding-bottom: 60px;
      @include respond-to(m_tablet) {
        padding-top: 0px;
        padding-bottom: 50px;
      }
    }
    &.journalcover {
      width: 100%;
      height: 0px;
      max-height: 75vh;
      padding: 0px;
      padding-top: 9 / 16 * 100%;
      color: white;
      &.black {
        color: black;
      }
      @include respond-to(desktop_more) {
        height: 75vh;
        padding-top: 0px;
      }
      @include respond-to(m_tablet) {
        padding-top: 10 / 16 * 100%;
      }
      @include respond-to(mobile) {
        padding-top: 12 / 16 * 100%;
      }
      & > div.gatsby-image-wrapper,
      & > picture {
        width: 100%;
        z-index: 1 !important;
        position: absolute !important;
        top: 0px;
        left: 0px;
        height: 100%;
        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      & > div:not(.gatsby-image-wrapper) {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        z-index: 5;
        padding: $global-padding;
        padding-top: 80px;
        @include respond-to(m_tablet) {
          padding: $globalmobile-padding;
          padding-top: 80px;
        }
        @include respond-to(mobile) {
          padding-top: 60px;
        }
        & > div {
          width: 100%;
          height: 100%;
          margin: 0px auto;
          max-width: $global-maxwidth - (($global-padding) * 2);
          text-align: center;
          @include setflex(column, nowrap);
          padding: 0px 150px;
          position: relative;
          @include respond-to(tablet) {
            padding: 0px 100px;
          }
          @include respond-to(m_tablet) {
            padding: 0px;
          }
          & > div {
            cursor: default;
            &:first-child {
              user-select: all;
              font-family: 'Maison Mono';
              font-size: 36px;
              line-height: 40px;
              font-weight: 300;
              margin-bottom: 20px;

              @include respond-to(tablet) {
                font-size: 32px;
                line-height: 36px;
              }
              @include respond-to(m_tablet) {
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 15px;
              }
              @include respond-to(mobile) {
                font-size: 13px;
                line-height: 15px;
                margin-bottom: 15px;
              }
            }
            &:nth-child(2) {
              user-select: all;
              font-family: 'Amarillo';
              font-size: 90px;
              line-height: 80px;
              padding-bottom: 60px;
              @include respond-to(tablet) {
                font-size: 75px;
                line-height: 75px;
                padding-bottom: 56px;
              }
              @include respond-to(m_tablet) {
                font-size: 48px;
                line-height: 48px;
                padding-bottom: 35px;
              }
              @include respond-to(mobile) {
                font-size: 42px;
                line-height: 42px;
                padding-bottom: 30px;
              }
            }
          }

          & > .navigation {
            &:nth-child(3),
            &:nth-child(4) {
              position: absolute;
              top: 50%;
              max-width: 150px;
              display: block;
              font-family: 'Amarillo';
              font-size: 28px;
              line-height: 28px;
              text-align: center;
              @include transform(translate(0px, -50%));
              color: black;
              @include transition(color $global-transition);
              @include respond-to(tablet) {
                font-size: 24px;
                line-height: 24px;
                max-width: 100px;
              }
              @include respond-to(m_tablet) {
                display: none;
              }
              body.onhover &:hover {
                color: $color_green;
              }
            }
            &:nth-child(3) {
              left: 0px;
              right: auto;
              // text-align: left;
            }
            &:nth-child(4) {
              right: 0px;
              left: auto;
              // text-align: right;
            }
            &.disable {
              pointer-events: none;
              opacity: 0.25 !important;
            }
          }
        }
      }
    }
  }
  &:not(.list) {
    background: #f2f2f2;
    & > .sectionWrapper section {
      @include flex-grow(0);
      &.journallist {
        color: black;
        padding-bottom: $global-padding * 2;
        @include respond-to(m_tablet) {
          padding-bottom: $globalmobile-padding * 3;
        }
        @include respond-to(mobile) {
          padding-bottom: $globalmobile-padding * 3;
        }
        & h1 {
          color: inherit;
          font-family: 'Amarillo';
          font-size: 48px;
          line-height: 48px;
          text-align: center;
          margin-top: 0px;
          margin-bottom: $global-padding;
          @include respond-to(m_tablet) {
            margin-bottom: $globalmobile-padding;
          }
          @include respond-to(mobile) {
            margin-bottom: $globalmobile-padding;
            font-size: 24px;
            line-height: 24px;
          }
        }
      }
      &.markupcontent {
        @include flex-grow(1);
        color: black;
        padding-top: 60px;
        padding-left: 100px;
        padding-right: 100px;
        & > .wrapper {
          margin: 0px auto;
          width: 100%;
          max-width: $global-maxwidth - ((100px) * 2);
        }
        @include respond-to(tablet) {
          padding-left: 75px + $global-padding;
          padding-right: 75px + $global-padding;
          & > .wrapper {
            max-width: $global-maxwidth - ((75px + $global-padding) * 2);
          }
        }
        @include respond-to(m_tablet) {
          padding: #{$globalmobile-padding * 2} $globalmobile-padding;
          & > .wrapper {
            max-width: $global-maxwidth - ($global-padding * 2);
          }
        }
      }
      &.mobileJournalNavigation {
        display: none;
        @include respond-to(m_tablet) {
          padding-top: 0px;
          padding-bottom: #{$globalmobile-padding * 3};
          display: block;
        }
        @include respond-to(mobile) {
          padding-bottom: #{$globalmobile-padding * 2};
        }
        & > .wrapper {
          @include setflex(row, nowrap, center, center, center);
          & > a {
            display: block;
            height: auto;
            min-width: 180px;
            padding: 7px 25px;
            border: solid 2px $color_green;
            color: $color_green;
            @include transition(
              background $global-transition,
              color $global-transition
            );
            @include setflex(row, nowrap, center, center, center);
            @include respond-to(mobile) {
              min-width: 105px;
              padding: 5px 20px;
              border: solid 1px $color_green;
            }
            &.disable {
              opacity: 0.25;
              pointer-events: none;
            }
            & > span:not(.arrow) {
              margin-right: 15px;
              font-family: 'Amarillo';
              text-transform: uppercase;
              font-size: 24px;
              line-height: 24px;
              height: 24px;
              @include respond-to(mobile) {
                margin-right: 10px;
                font-size: 16px;
                line-height: 16px;
                height: 16px;
              }
            }
            & > svg {
              height: 12px;
              @include respond-to(mobile) {
                height: 8px;
              }
              @include transform(rotate(180deg));
              & .fill {
                @include transition(fill $global-transition);
              }
            }
            body.onhover &:hover {
              background: $color_green;
              color: white;
              & > svg {
                & .fill {
                  fill: white;
                }
              }
            }
            &:first-child {
              & > span:not(.arrow) {
                display: inline-block;
                margin-right: 0px;
                margin-left: 15px;
                @include respond-to(mobile) {
                  margin-right: 0px;
                  margin-left: 10px;
                }
              }
              & > svg {
                @include transform(rotate(0deg));
              }
              margin-right: 50px;
            }
          }
        }
      }
    }

    $initdelay: 0.1s;
    $_transition: 1s;
    $_transition2: 1.5s;
    $eachdelay: 0.2s;
    & > .sectionWrapper section {
      &.journalcover {
        & > div > div {
          & > div {
            @include transition(opacity 0.5s);
            opacity: 0;
            body.loaded & {
              @include transition(opacity $_transition2 #{$eachdelay * 0.5});
              opacity: 1;
            }
          }
          & > a {
            @include transition(opacity 0.5s, color $global-transition);
            opacity: 0;
            body.loaded & {
              @include transition(
                opacity $_transition #{$eachdelay * 3},
                color $global-transition
              );
              opacity: 1;
            }
          }
        }
      }
      &.markupcontent {
        @include transition(opacity 0.5s);
        opacity: 0;
        body.loaded & {
          @include transition(opacity $_transition2 #{$eachdelay * 3});
          opacity: 1;
        }
      }
      &#MobileNav {
        @include transition(opacity 0.5s);
        opacity: 0;
        body.loaded &.inview {
          @include transition(opacity $_transition2);
          opacity: 1;
        }
      }
      &#Related {
        & .content > * {
          @include transition(opacity 0.5s);
          opacity: 0;
        }
        body.loaded &.inview {
          & .content > * {
            @for $i from 1 through 2 {
              &:nth-child(#{$i}) {
                @include transition(opacity $_transition #{0.3s * ($i - 1)});
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
.markupstyle {
  padding: 0px $global-padding;
  position: relative;
  width: 100%;
  @include respond-to(tablet) {
    padding: 0px;
  }
  & * {
    user-select: text;
  }
  & > * {
    margin: 40px auto;
    max-width: 100%;
    white-space: pre-wrap;

    // user-select: all;
    // & > * {
    //   user-select: all;
    // }

    &:first-child {
      margin-top: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    @include respond-to(tablet) {
      margin: 20px auto;
      &:first-child {
        margin-top: 0px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  & p {
    font-family: 'Maison Mono';
    font-size: 20px;
    line-height: 34px;
    @include respond-to(tablet) {
      font-size: 16px;
      line-height: 28px;
    }
    @include respond-to(mobile) {
      font-size: 14px;
      line-height: 22px;
    }
  }
  & em {
    font-style: italic;
  }
  & strong {
    font-weight: bold;
  }
  & ul,
  & ol {
    font-family: 'Maison Mono';
    font-size: 20px;
    line-height: 34px;
    @include respond-to(tablet) {
      font-size: 16px;
      line-height: 28px;
    }
    @include respond-to(mobile) {
      font-size: 14px;
      line-height: 22px;
    }
    & li {
      margin: 40px auto;
      &:first-child {
        margin-top: 0px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
      @include respond-to(tablet) {
        margin: 20px auto;
        &:first-child {
          margin-top: 0px;
        }
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
  & img {
    width: calc(100% + (#{$global-padding * 2}));
    margin-left: -$global-padding;
    display: block;
    @include respond-to(tablet) {
      width: 100%;
      margin-left: 0px;
    }
    @include respond-to(mobile) {
      margin: 30px auto;
      &:first-child {
        margin-top: 0px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  & a {
    color: $color_green;
    font-style: italic;
    @include transition(color $global-transition);
    body.onhover &:hover {
      color: inherit;
    }
  }
  & h1 {
    font-family: 'Amarillo';
    font-size: 48px;
    line-height: 48px;
    @include respond-to(mobile) {
      font-size: 28px;
      line-height: 28px;
    }
  }
  & h2 {
    font-family: 'Amarillo';
    font-size: 40px;
    line-height: 50px;
    // margin: 40px auto;
    &:first-child {
      margin-top: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    @include respond-to(tablet) {
      font-size: 32px;
      line-height: 42px;
    }
    @include respond-to(mobile) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  & blockquote {
    font-family: 'Maison Mono';
    font-style: italic;
    font-size: 24px;
    line-height: 34px;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
    @include respond-to(tablet) {
      font-size: 20px;
      margin-inline-start: 75px;
      margin-inline-end: 75px;
    }
    @include respond-to(mobile) {
      margin-inline-start: $globalmobile-padding * 2;
      margin-inline-end: $globalmobile-padding;
    }
  }
}
//ALSO USED IN HOME
section.journallist {
  margin: 0px auto;
  width: 100%;
  padding: 0px (100px + $global-padding);
  @include respond-to(tablet) {
    padding: $global-padding (75px + $global-padding);
  }
  @include respond-to(m_tablet) {
    padding: 0px $globalmobile-padding;
  }
  & > .wrapper {
    margin: 0px auto;
    width: 100%;
    padding: 0px !important;
    max-width: $global-maxwidth - ((100px + $global-padding) * 2);

    @include respond-to(tablet) {
      max-width: $global-maxwidth - ((75px + $global-padding) * 2);
    }
    @include respond-to(m_tablet) {
      max-width: $global-maxwidth - ($global-padding * 2);
    }
    & > .content {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      @include respond-to(m_tablet) {
        // width: calc(100% - #{$globalmobile-padding * 2});
      }
    }
    & .__journalcontainer {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 15px;
      @include bp-max(950px) {
        grid-template-columns: 1fr;
      }
      @include respond-to(m_tablet) {
        grid-gap: 7px;
        grid-template-columns: 1fr 1fr;
      }
      @include respond-to(mobile) {
        grid-template-columns: 1fr;
      }
      & > a {
        display: block;
        width: 100%;
        height: calc((100vh - 250px - 20px) / 2);
        max-height: 250px;
        position: relative;
        color: white;
        overflow: hidden;
        @include transition(color $global-transition);
        @include respond-to(desktop_more) {
          max-height: 225px;
          padding-top: 0px;
        }
        @include bp-max(1050px) {
          max-height: 220px;
        }
        @include bp-max(950px) {
          min-height: 0px;
          height: 175px;
          padding-top: 0px;
        }
        @include respond-to(m_tablet) {
          height: 0px;
          padding-top: 9 / 16 * 100%;
          min-height: 200px;
          max-height: 250px;
        }
        @include respond-to(mobile) {
          padding-top: 0px;
          min-height: 125px;
          height: 20vh;
          max-height: 175px;
        }
        &.black {
          color: black;
        }
        & > div:first-child {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 2;
          padding: 0px $global-padding;
          @include setflex(column, nowrap);
          padding-top: 15px;
          padding-bottom: 20px;
          @include bp-max(1200px) {
            padding: $globalmobile-padding;
            padding-bottom: 20px;
          }
          @include respond-to(mobile) {
            padding: $globalmobile-padding;
          }
          & > span {
            margin-top: 0px;
            display: block;
            font-family: 'Maison Mono';
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
          }
          & > h2 {
            margin: 0px;
            margin-top: 10px;
            display: block;
            font-family: 'Amarillo';
            font-size: $font-size-heading2;
            line-height: $lineheight-heading2;
            text-align: center;
            @include bp-max(1200px) {
              margin-top: 10px;
              font-size: $font-size-heading2-m;
              line-height: $lineheight-heading2-m;
            }
            @include respond-to(m_tablet) {
              margin-top: 5px;
              font-size: $font-size-heading2-m;
              line-height: $lineheight-heading2-m;
            }
            @include respond-to(smaller) {
              margin-top: 5px;
              font-size: 25px;
              line-height: 100%;
            }
          }
        }
        & > div.gatsby-image-wrapper,
        & > picture {
          position: absolute !important;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          z-index: 0;
          & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &::after {
          @include pseudo;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          z-index: 1;
          background: $color_green;
          opacity: 0;
          @include transition(opacity $global-transition);
        }
        body.onhover &:hover {
          color: black;
          &::after {
            opacity: 0.5;
          }
        }
      }
    }
    & .__navcontainer {
      margin: 0px auto;
      margin-top: 60px;
      width: 100%;
      display: grid;
      grid-template: auto / auto auto;
      grid-gap: 0px;
      // justify-content: center;
      align-items: center;
      @include bp-max(950px) {
        grid-gap: 100px;
      }
      @include respond-to(m_tablet) {
        margin-top: 50px;
        grid-gap: 0px;
      }
      @include respond-to(mobile) {
        grid-gap: 80px;
      }
      @include respond-to(smaller) {
        margin-top: 30px;
        grid-gap: 30px;
      }
      & > a {
        display: block;
        text-align: center;
        width: 60px;
        justify-self: center;
        &.disable {
          pointer-events: none;
          opacity: 0.25 !important;
        }
        & svg {
          height: 60px;
          width: 60px;
          & .stroke {
            @include transition(stroke $global-transition);
          }
        }
        @include bp-max(950px) {
          justify-self: right;
          &:last-child {
            justify-self: left;
          }
        }
        @include respond-to(m_tablet) {
          width: 40px;
          & svg {
            height: 40px;
            width: 40px;
          }
          justify-self: center;
          &:last-child {
            justify-self: center;
          }
        }
        @include respond-to(mobile) {
          justify-self: right;
          &:last-child {
            justify-self: left;
          }
        }
        @include respond-to(smaller) {
          width: 25px;
          & svg {
            height: 25px;
            width: 25px;
          }
        }
        body.onhover &:hover {
          & svg {
            & .stroke {
              stroke: $color_green;
            }
          }
        }
        &:last-child svg {
          @include transform(rotate(180deg));
        }
      }
    }
  }
}
